/* Global Styles*/
body {
    margin: 0;
    font-family: 'Mohave', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
}

h1,
h2 {
    font-family: 'Zen Antique', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button,
img {
    user-select: none;
}

p {
    line-height: 1.8;
}

/*Header Component*/
.header {
    position: absolute;
    width: 100%;
    background-color: rgba(40, 40, 40, 0.255);
    backdrop-filter: blur(1px);
    --webkit-backdrop-fiter: blur(1px);
}

.header nav {
    display: none;
}

.header nav.open {
    display: block;
}

.header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111827;
    backdrop-filter: blur(20px);
    --webkit-backdrop-filter: blur(20px);
    width: calc(100vw - 50px);
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    z-index: 999;
}

.header nav ul li {
    margin: 10px 0;
}

.menu {
    display: block;
}

@media (min-width: 768px) {
    .menu {
        display: none;
    }

    .header nav {
        display: block;
    }

    .header nav ul {
        flex-direction: row;
        background-color: transparent;
        backdrop-filter: blur(0);
        --webkit-backdrop-filter: blur(0);
        position: relative;
        top: 0;
        right: 0;
        width: auto;
    }

    .header nav ul li {
        margin: 0 10px;
    }
}

@media (min-width: 768px) {
    .header nav {
        display: block;
    }
}

/*Home Component*/
.home {
    background: url('./assets/home/background-home-mobile.jpg') no-repeat
        center/cover;
    height: calc(100vh + 1px);
}

.home .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh + 1px);
    text-align: center;
}

@media (min-width: 768px) {
    .home {
        background: url('./assets/home/background-home-desktop.jpg') no-repeat
            center/cover;
    }
}

@media (min-width: 1024px) {
    .home .overlay {
        flex-direction: row;
        gap: 1rem;
        text-align: left;
        max-width: 1000px;
        margin: auto;
    }
}

/*Destination page*/
.destinations {
    background: url("./assets/destination/background-destination-mobile.jpg")
      no-repeat center/cover;
    height: auto;
  }

/*Crew page*/
.crew {
    background: url("./assets/crew/background-crew-mobile.jpg")
      no-repeat center/cover;
    height: auto;
  }

  /*Technology page*/
  .technology {
    background: url("./assets/technology/background-technology-mobile.jpg")
      no-repeat center/cover;
    height: auto;
  }

/*Media queries for all pages*/
@media (min-width: 768px) {
    .home {
      background: url("./assets/home/background-home-tablet.jpg")
        no-repeat center/cover;
      height: calc(100vh - 1px);
    }
  
    .home .overlay {
      flex-direction: row;
    }
  
    .destinations {
      background: url("./assets/destination/background-destination-tablet.jpg")
        no-repeat center/cover;
    }
  
    .crew {
      background: url("./assets/crew/background-crew-tablet.jpg")
        no-repeat center/cover;
    }
  
    .technology {
      background: url("./assets/technology/background-technology-tablet.jpg")
        no-repeat center/cover;
    }
  
    @media (min-width: 1280px) {
      p {
        font-size: 18px;
      }
  
      .home {
        background: url("./assets/home/background-home-desktop.jpg")
          no-repeat center/cover;
        height: 100vh;
      }
  
      .home .overlay {
        max-width: 1200px;
        margin: auto;
      }
  
      .destinations {
        background: url("./assets/destination/background-destination-desktop.jpg")
          no-repeat center/cover;
      }
  
      .crew {
        background: url("./assets/crew/background-crew-desktop.jpg")
          no-repeat center/cover;
      }
  
      .technology {
        background: url("./assets/technology/background-technology-desktop.jpg")
          no-repeat center/cover;
      }
    }
  }  